.basePokeCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
}



.sectionPokeCards {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  min-width: 320px;

  margin: 20px 0px 0px 0px;
}

.sectionPokeCard1GenFuego,
.sectionPokeCard1GenAgua,
.sectionPokeCard1GePlanta {
  width: 290px;

  overflow: hidden;
  margin: 0px 20px 10px 0px;
}
