.baseCard {
  display: flex;
  flex-direction: column;

  width: 280px;
  height: 390px;
  max-height: 390px;

  box-shadow: 0px 0px 10px -3px black;
  border-radius: 10px;
  border: 3px solid black;
  margin: 0px 10px 0px 0px;
}

#Fuego {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.44525547445255476) 0%,
    rgba(255, 0, 0, 1) 100%
  );
}

#Agua {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.44525547445255476) 0%,
    rgba(95, 205, 217, 1) 100%
  );
}

#Planta {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.44525547445255476) 0%,
    rgba(5, 136, 1, 1) 100%
  );
}

.cardNameSection {
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.nameSectionTitle {
  font-family: Impact, fantasy;
  font-size: 25px;
  text-transform: uppercase;
}

.cardSpriteSection {
  display: flex;
  justify-content: center;

  height: 120px;
}

.spriteSection {
  display: flex;
  justify-content: center;

  border: 3px solid black;
  background-color: white;
  border-radius: 100%;
  margin: 10px 0px 0px 0px;
  z-index: 2;

  width: 120px;
  height: 120px;
}

.spriteImage {
  width: 200px;
}

.cardLineSeparator {
  position: relative;

  border: 2px solid black;
  bottom: 50px;
  margin: 0px 0px 30px 0px;
  z-index: 1;
}

.cardStatsSection {
  display: flex;
  flex-direction: column;
}

.statsSectionN1,
.statsSectionN2,
.statsSectionN3 {
  display: flex;
  flex-direction: row;
}

.statsSectionN11,
.statsSectionN21,
.statsSectionN31 {
  margin: 0px 10px 10px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px black;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9206057422969187) 100%,
    rgba(0, 0, 0, 0.6685049019607843) 100%
  );
  width: 60%;
  height: 50px;
}

.statsSectionN12,
.statsSectionN22,
.statsSectionN32 {
  margin: 0px 10px 10px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -3px black;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9206057422969187) 100%,
    rgba(0, 0, 0, 0.6685049019607843) 100%
  );
  width: 40%;
  height: 50px;
}

.statsName {
  margin: 0px 0px 5px 0px;
}

.statsBarContainer {
  background-color: #f0ede9;
  border-radius: 10px;

  width: 100%;
  height: 10px;
}

.statsBarFill {
  background-color: white;
  border-radius: 10px;
  margin: 0px 0px 0px -1px;

  height: 10px;
}
